---
import Section from "./Section.astro";
---

<Section
    title="Disfrute de Tesla"
    subTitle="Programe una prueba de conduccion hoy msimo "
    color="white"
>
    <div slot="footer">
        <a
            class={"border-[3px] text-white border-white bg-white/5 backdrop-blur-sm rounded font-semibold px-12 py-2 inline-block hover:bg-white hover:text-gray-900 transition-colors delay-100"}
            href="#">Prueba de conduccion</a
        >
    </div>

    <video
        slot="background"
        class="object-center object-cover h-full w-full"
        autoplay
        muted
        loop
        src="/Video-Drive-Desktop.webm"></video>
</Section>
